<div class="container player">
  <div class="row">
    <div class="col-sm-3">
      <img style="width:50px" [src]="player.photo">
    </div>
    <div class="col-sm-3">
      {{player.firstname}}
    </div>
    <div class="col-sm-3">
      {{player.lastname}}
    </div>
    <div class="col-sm-3">
      <a
        class="btn btn-primary"
        routerLink="player/{{player.lastname}}">Détails</a>
      <button
        class="btn btn-danger"
        (click)="deletePlayer()">Supprimer</button>
    </div>
  </div>
</div>
